body {
  font-family: "Nunito", sans-serif;
  color: #5a5959;
}

a {
  color: #49b5e7;
}

a:hover {
  color: #76c7ed;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(178,33,51);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(178,33,51);
}
/*--------------------------------------------------------------
# back-to-top
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: rgb(178,33,51);
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: rgb(178,33,51);
  color: #fff;
}

/*--------------------------------------------------------------
# header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  border-top: 30px solid rgb(178,33,51);
}

#header .logo img {
  width: 60%;
}

/*--------------------------------------------------------------
# nav
--------------------------------------------------------------*/

.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 20px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #252525;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 8px 20px;
  line-height: 21px;
  letter-spacing: 0.05em;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: rgb(178,33,51);
}

.mobile-nav-toggle {
  position: fixed;
  top: 5%;
  right: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: rgb(178,33,51);
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;

  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #0f394c;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #49b5e7;
  text-decoration: none;
}

a:hover {color: rgb(178,33,51)}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(7, 25, 33, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# banner
--------------------------------------------------------------*/
#banner {
  width: 100%;
  height: auto;
  background: url("../assets/images/background.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  padding: 100px 0;
}

#banner::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#banner .container {
  padding-top: 84px;
}

#banner h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700 !important;
  line-height: 1.5;
  color: rgb(48,105,87);
  padding-bottom: 0px;
  font-family: "Amatic SC", cursive;
}

#banner h3 {
  margin: 0;
  font-size: 18px;
  line-height: 1.8;
  color: #58596b;
  padding-bottom: 30px;
  text-align: left;
}

@media (max-width: 768px) {
  #banner h1 {
    font-size: 28px;
    line-height: 1.6;
  }
  #banner h2 {
    font-size: 18px;
    line-height: 1.8;
  }
  #banner {
    text-align: center;
  }
}
.btn_ban {
  padding: 8px 20px;
  background: rgb(178,33,51);
  border-radius: 0px;
  color: #fff;
  font-size: 24px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 20px 30px 0 rgba(90, 70, 176, 0.3);
  box-shadow: 0 20px 30px 0 rgba(90, 70, 176, 0.3);
}
.btn_ban:hover {
  color: rgb(178,33,51);
  background: transparent;
  border-color: rgb(178,33,51);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn_ban_ico {
  padding-left: 5px;
}

.banner_image_site {
  width: 100%;
  height: 500px;
  background-repeat: no-repeat, no-repeat;
  background-image: url("../assets/images/salt.svg"),
    url("../assets/images/Kidney.svg");
  background-blend-mode: multiply;
  background-position: center center, center center;
}
/*--------------------------------------------------------------
# VIDEO
--------------------------------------------------------------*/
.video_bg {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #dff0de;
}

.video_hed {
  font-family: "Amatic SC", cursive;
  color: rgb(48,105,87);
  text-align: center;
  padding-bottom: 5%;
  font-size: 64px;
  font-weight: 700 !important;
  line-height: 1.5;
}
/*--------------------------------------------------------------
# salt_chart
--------------------------------------------------------------*/
.salt_chart_bg {
  width: 100%;
  height: auto;
  background: url("../assets/images/background.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  padding: 100px 0;
}
.salt_chart_bg-title {
  font-family: "Amatic SC", cursive;
  color: rgb(48,105,87);

  text-align: center;

  padding-bottom: 5%;
  text-transform: uppercase;
  color:rgb(48,105,87);
  font-size: 64px;
  font-weight: 700 !important;
  line-height: 1.5;
}

.salt_chart_bg-title::before {
  content: "";
  display: block;
  height: 100px;

  background-image: url("../assets/images/head-bottom.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.img-size-salt-chart {
  width: 70%;
}

/*--------------------------------------------------------------
# supermarket
--------------------------------------------------------------*/
.supermarket_bg {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgb(48,105,87);
  background: url("../assets/images/Greenbg.png") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.supermarket-title {
  font-family: "Amatic SC", cursive;
  font-size: 64px;
  line-height: 1.5;
  font-weight: 700 !important;
  text-transform: uppercase;
  margin-bottom: 0%;
  color: #ffff;
}

.supermarket-paragrap {
  line-height: 1.8;
  text-align: left;
  color: #fff;
  font-size: 18px;
  padding: 30px 0;
}

.btn_c {
  padding: 8px 20px;
  background: rgb(178,33,51);
  border-radius: 0px;
  color: #fff;
  font-size: 24px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 20px 30px 0 rgba(90, 70, 176, 0.3);
  box-shadow: 0 20px 30px 0 rgba(90, 70, 176, 0.3);
}
.btn_c:hover {
  color: #fff;
  background: transparent;
  border-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn_ico {
  padding-left: 5px;
}
.super_image_site {
  width: 100%;
  height: 500px;
  background-repeat: no-repeat, no-repeat;
  background-image: url("../assets/images/Kidney.svg"),
    url("../assets/images/supermarket.svg");
  background-blend-mode: multiply;
  background-position: center center, center center;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding-top: 50px;
  padding-bottom: 50px;
  /* background-color: rgb(178,33,51);*/
  /* background-color: #E1EDE1;  */
  color: rgb(178,33,51);
  background: url("../assets/images/background.jpg") no-repeat;
  background-size: cover;
}
.address-title {
  color:  rgb(178,33,51);
  font-family: "Amatic SC", cursive;
  font-weight: 700 !important;
  font-size: 26px;
  padding-bottom: 15px;
}
.address-para {
  color: rgb(178,33,51);
  font-size: 14px;
  letter-spacing: 1px;
}
.address-ico {
  padding-right: 10px;
}
.social-icon {
  list-style: none;
}
.social-icon li {
  list-style: none;
  float: left;
}
.social-icon li a {
  list-style: none;
  color: #fff;
  padding: 0px 15px;
  font-size: 24px;
}
.img-cortton-ico {
  position: absolute;
  bottom: -10px;
  width: 100px;
}

.bottom_text {
  padding-top: 20px;
  color:  rgb(178,33,51);
}
/*--------------------------------------------------------------
# mobile
--------------------------------------------------------------*/
.footer_logo {
  width: 100%;
  padding-left: 20px;
  align-items: center;
  text-align:center;
}

@media only screen and (max-width: 600px) {
  .img-cortton-ico {
    position: absolute;
    bottom: -10px;
    right: 0px;
    z-index: 1;
    width: 40%;
    display: none;
  }
  #banner h1 {
    padding-top: 30px;
    margin: 0;
    font-size: 32px;
    font-weight: 700 !important;
    line-height: 1.2;
    color: rgb(48,105,87);
    padding-bottom: 30px;
    font-family: "Amatic SC", cursive;
  }
  .supermarket-title {
    font-family: "Amatic SC", cursive;
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700 !important;
    text-transform: uppercase;
    margin-bottom: 0%;
    color: #ffff;
    padding-top: 30px;
  }

  .video_hed {
    font-family: "Amatic SC", cursive;
    color: #34a853;
    text-align: center;
    padding-bottom: 5%;
    font-size: 32px;
    font-weight: 700 !important;
    line-height: 1.2;
  }
  .salt_chart_bg-title {
    font-family: "Amatic SC", cursive;
    color: rgb(48,105,87);

    text-align: center;

    padding-bottom: 5%;
    text-transform: uppercase;
    color: rgb(48,105,87);
    font-size: 32px;
    font-weight: 700 !important;
    line-height: 1.2;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
  }
  .address-title {
    color:rgb(178,33,51);
    font-family: "Amatic SC", cursive;
    font-weight: 200;
    font-size: 20px;
    padding-bottom: 15px;
  }
  .banner_image_site {
    width: 100%;
    height: 250px;
    background-repeat: no-repeat, no-repeat;
    background-image: url("../assets/images/mobile-salt.svg"),
      url("../assets/images/mobile-Kidney.svg");
    background-blend-mode: multiply;
    background-position: center center, center center;
  }

  .super_image_site {
    width: 100%;
    height: 250px;
    background-repeat: no-repeat, no-repeat;
    background-image: url("../assets/images/mobile-supermarket.svg"),
      url("../assets/images/mobile-Kidney.svg");
    background-blend-mode: multiply;
    background-position: center center, center center;
  }
  .img-size-salt-chart {
    width: 100%;
  }

  .footer_logo {
    width: 80%;
  }
}
@media only screen and (max-width: 1050px) {
  .animateOnce {
    text-align: center;
  }
}

.center {
  align-items: center;
  text-align: center;
  align-self: center;
}
